<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <!--Toastr-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
        $('select').selectpicker();
    </script>
    <style>
        @media only screen and (min-width: 1084px) {
            .bootstrap-select {
                width: 800px !important;
            }
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Learning Journey</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light">
                            <li class="breadcrumb-item"><a href="learningJourney.html">Learning Journey</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New Learning Journey</li>
                        </ol>
                    </nav>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="name">Learning Journey Name</label>
                                    <input type="text" v-model="journeyName" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter learning journey name">
                                </div>
                                <div class="form-group role">
                                    <label for="role">Role</label>
                                    <br>
                                    <select v-model="role" @change="changeRole()" class="selectpicker" id="role" data-live-search="true">
                                        <option value="" selected disabled></option>
                                        <option v-for="role in availableRoles" :value="role.role_id">{{role.role_name}}</option>
                                    </select>
                                </div>
                                <div class="form-group" v-for="(item, index) in skillAndCourses" :key="index">
                                    <hr>
                                    <div class="form-group">
                                        <a id="add_row" class="btn btn-danger float-right" v-if="skillAndCourses.length>1" @click="removeSkill(index)">Remove</a>
                                        <a id="add_row" class="btn btn-primary float-right mr-2" v-if="index==0" @click="addSkill">Add a Skill/Courses</a>
                                        <label for="skill">Skill</label>
                                        <br>
                                        <select v-model="item.skill_id" @change="changeSkill(index, item.skill_id)" class="selectpicker" :name="`skillAndCourses[${index}][skill_id]`" data-live-search="true">
                                            <option value="" disabled></option>
                                            <option v-for="skill in availableSkills" :disabled="dropdownSelectedSkill.indexOf(skill.skill_id) > -1 && !(dropdownSelectedSkill[index] == skill.skill_id)" :value="skill.skill_id">{{skill.skill_name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="courses">Course</label>
                                        <br>
                                        <select v-model="item.course_ids" 
                                            class="selectpicker" 
                                            :name="`skillAndCourses[${index}][courses_ids]`" 
                                            :id="`courses${index}`" 
                                            multiple data-live-search="true" 
                                            disabled>
                                            <optionvalue="" disabled></option>
                                            <option v-for="course in availableCourses[`${index}`]" :value="course.course_id">{{course.course_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" @click="addANewLJ()">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        Vue.createApp({
        data() {
            return { 
                role:"",
                journeyName: "",
                skillAndCourses: [],
                availableRoles: [],
                availableSkills: [],
                availableCourses: [],
                skillId: "",
                staffId: "",
                toastCount: 0,
                dropdownSelectedSkill: []
            }
        },
        created() { // created is a hook that executes as soon as Vue instance is created
            this.getAvailableRoles();
            this.staffId = getCookie('staff_id');
            console.log(this.staffId);
            // check credentials (check for staff)
            if (getCookie('user_type') != null) {

                let user_type = getCookie('user_type');

                if (user_type != "staff") {

                    // check switch_to_staff_acct
                    let switch_to_staff_acct = getCookie('switch_to_staff_acct')

                    if (switch_to_staff_acct == "N") {

                        location.href = './HRviewAllRoles.html';
                    }
                }
            }
            $('[data-toggle="tooltip"]').tooltip();  
        },
        methods: {
            getAvailableRoles() {
                $(async () => {
                    // Change serviceURL to your own
                    var serviceURL = "http://localhost:5000/roles/active";
                    try {
                        const response =
                            await fetch(
                                serviceURL, { method: 'GET' }
                            );
                        const result = await response.json();
                        if (result.code === 200) {
                            // success case
                            this.availableRoles = result.data.roles;
                            this.refreshSelectDropDown();
                        } else if (result.code == 404) {
                            // No Such Roles Found
                            //this.skillLoading = false
                            //this.skillErr = true
                            //this.skillErrMsg = result.message;
                        } else {
                            // unexpected outcome, throw the error
                            //this.skillLoading = false
                            //this.skillErr = true
                            //throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        //this.skillLoading = false
                        //this.skillErr = true
                        //this.skillErrMsg = 'There is a problem retrieving skill data, please try again later.<br />' + error;
                    } // error
                });
            },
            getSkillsBasedOnRoleSelected() {
                $(async () => {
                    // Change serviceURL to your own
                    //http://localhost:5000/active_skills_by_role/1
                    var serviceURL = "http://localhost:5000/active_skills_by_role/" + this.role;
                    try {
                        const response =
                            await fetch(
                                serviceURL, { method: 'GET' }
                            );
                        const result = await response.json();
                        if (result.code === 200) {
                            // success case
                            this.availableSkills = result.data.active_skills;
                            this.refreshSelectDropDown();
                        } else if (result.code == 404) {
                            // No Such Roles Found
                            //this.skillLoading = false
                            //this.skillErr = true
                            //this.skillErrMsg = result.message;
                        } else {
                            // unexpected outcome, throw the error
                            //this.skillLoading = false
                            //this.skillErr = true
                            //throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        //this.skillLoading = false
                        //this.skillErr = true
                        //this.skillErrMsg = 'There is a problem retrieving skill data, please try again later.<br />' + error;
                    } // error
                });
            },
            getCoursesBasedOnSkillSelected(index) {
                $(async () => {
                    // Change serviceURL to your own
                    var serviceURL = "http://localhost:5000/courses_by_skill/" + this.skillId;
                    try {
                        const response =
                            await fetch(
                                serviceURL, { method: 'GET' }
                            );
                        const result = await response.json();
                        if (result.code === 200) {
                            // success case
                            this.availableCourses[index] = result.data.courses;
                            //this.availableCourses.push(result.data.courses);
                            this.refreshSelectDropDown();
                        } else if (result.code == 404) {
                            // No Such Roles Found
                            this
                            //this.skillLoading = false
                            //this.skillErr = true
                            //this.skillErrMsg = result.message;
                        } else {
                            // unexpected outcome, throw the error
                            //this.skillLoading = false
                            //this.skillErr = true
                            //throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        //this.skillLoading = false
                        //this.skillErr = true
                        //this.skillErrMsg = 'There is a problem retrieving skill data, please try again later.<br />' + error;
                    } // error
                });
            },
            addSkill() {
                //initialise course
                this.skillAndCourses.push({
                    skill_id: "",
                    course_ids: []
                });
                this.refreshSelectDropDown();

            },
            removeSkill(index) {
                this.skillAndCourses.splice(index, 1);
                this.dropdownSelectedSkill.splice(index, 1);
                this.refreshSelectDropDown();
            },
            changeRole() {
                this.skillAndCourses = [
                    {
                        skill_id: "",
                        course_ids: [""]
                    }
                ];
                this.dropdownSelectedSkill = [];
                
                $("#courses0").prop('disabled', true);
                this.getSkillsBasedOnRoleSelected();
                this.refreshSelectDropDown();
            },
            changeSkill(index, skillId) {
                // populate courses frm db
                // unhide courses
                this.dropdownSelectedSkill[index] = skillId;
                this.availableCourses[index] = [];
                this.skillId = skillId;
                this.skillAndCourses[index].course_ids = [""];
                $("#courses"+index).prop('disabled', false);
                
                this.getCoursesBasedOnSkillSelected(index);
                this.refreshSelectDropDown();
            },
            refreshSelectDropDown() {
                setTimeout(() => {
                    jQuery('.selectpicker').selectpicker('refresh');
                    $('[data-toggle="tooltip"]').tooltip();  
                }, 100);
            },
            addANewLJ(){
                $(async () => {
                    // Change serviceURL to your own
                    var serviceURL = "http://localhost:5000/journey/create";
                    try {
                        const response =
                            await fetch(
                                serviceURL,
                                {
                                    method: 'POST',
                                    headers: {
                                        'Accept': 'application/json', 'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                            journey_name: this.journeyName, 
                                            staff_id: parseInt(this.staffId),
                                            role_id: this.role,
                                            skills: this.skillAndCourses
                                    })
                                }
                            );
                        const result = await response.json();
                        if (response.status === 201) {
                            // success case
                            // this.loading = false
                            // this.err = false

                            // toastr configuration
                            toastr.options = {
                                "closeButton": true,
                                "newestOnTop": false,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }

                            if (this.toastCount == 0) {
                                // success 
                                toastr.success("Learning Journey created successfully");
                                this.toastCount += 1;
                            } 
                            setInterval(function doThisAfterFourSeconds() {
                                location.href = './learningJourney.html';
                            }, 400);

                        } else if (response.status == 500) {
                            // this.loading = false
                            // this.err = true
                            // this.errMsg = result.message;
                            // toastr.error(result.message);
                            toastr.error(result.message);
                        } else {
                            // unexpected outcome, throw the error
                            // this.loading = false
                            // this.err = true
                            toastr.error("An error has occurred. Please try again");
                            throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        // this.loading = false
                        // this.err = true
                        // this.errMsg = 'There is a problem creating new learning journey, please try again later.<br />' + error;
                    } // error
                });
            }
        },
        computed: {
        }
    }).mount('#page-top');
    
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return null;
    }
    </script>
</body>

</html>