<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
        <!--Toastr-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
        $('select').selectpicker();
    </script>
    <style>
        @media only screen and (min-width: 1084px) {
            .bootstrap-select {
                width: 800px !important;
            }
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Learning Journey</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light">
                            <li class="breadcrumb-item"><a href="learningJourney.html">Learning Journey</a></li>
                            <li class="breadcrumb-item"><a :href="prevUrl"> {{journey_name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update courses</li>
                        </ol>
                    </nav>

                    <!--View Learning Journey-->
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <p class="h6 font-weight-bold"><i>Learning Journey 1: {{journey_name}}</i></p>
                            <br>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Skill</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Course Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-if="loading">
                                    <tr>
                                        <td colspan="4">
                                            <!--Spinner-->
                                            <div class="d-flex justify-content-center mt-2">
                                                <div class="spinner-border" role="status">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center mt-2">
                                                <strong>Please wait while we are fetching the records...</strong>
                                            </div>
                                            <!--//Spinner-->  
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody v-if="errorMsg">
                                    <tr>
                                        <td colspan="4" style="color:red;">{{this.message}}</td>
                                    </tr>
                                </tbody>
                                <tbody v-if="!errrorMsg && !loading" v-for="skill in skills">
                                    <tr v-for="(course,index) in skill.skill_courses">
                                        <td>
                                            <label for="skill">{{skill.skill_name}}</label>
                                        </td>
                                        <td>
                                            <label for="course">{{course.course_name}} </label>
                                        </td>
                                        <td>
                                            {{course.course_completion_status}}
                                        </td>

                                        <td>
                                            <!-- <label id="skill_id" hidden>{{skill.skill_id}} </label>
                                            <label id="course_id" hidden>{{course.course_id}} </label>
                                            <label id="course_completion_status" hidden>{{course.course_completion_status}} </label>
                                            -->
                                            <button type="button" class="btn btn-danger" v-if="course.course_completion_status != 'Completed'" id="removeBtn" data-toggle="modal" data-target="#deleteModal" @click="passData(course.course_completion_status, skill.skill_id, course.course_id)">Confirm</button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                    <!--//View Learning Journey-->
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                
                                <!--Edit Learning Journey Form-->
                                <div class="form-group" v-for="(item, index) in skillAndCourses" :key="index">
                                    <hr>
                                    <div class="form-group">
                                        <a id="add_row" class="btn btn-danger float-right" v-if="skillAndCourses.length>1" @click="removeSkill(index)">Remove</a>
                                        <a id="add_row" class="btn btn-primary float-right mr-2" v-if="index==0" @click="addSkill">Add a Skill/Courses</a>
                                        <label for="skill">Skill</label>
                                        <br>
                                        <select v-model="item.skill_id" @change="changeSkill(index, item.skill_id)" class="selectpicker" :name="`skillAndCourses[${index}][skill_id]`" data-live-search="true">
                                            <option value="" disabled></option>
                                            <option v-for="skill in availableSkills" :disabled="dropdownSelectedSkill.indexOf(skill.skill_id) > -1 && !(dropdownSelectedSkill[index] == skill.skill_id)" :value="skill.skill_id">{{skill.skill_name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="courses">Course</label>
                                        <br>
                                        <select v-model="item.course_ids" class="selectpicker" :name="`skillAndCourses[${index}][courses_ids]`"
                                            :id="`courses${index}`" multiple data-live-search="true" @change="checkCourseDisabled(index)" disabled>
                                            <optionvalue="" disabled>
                                                </option>
                                                <option v-for="course in availableCourses[`${index}`]" :value="course.course_id">{{course.course_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary mt-1" @click="addANewCourse()">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
                                <!-- Delete Confirm Modal - STARTS -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" v-text="removeModalText">{{journey_id}}</div>
                                        <div class="modal-footer">
                                            <div v-if="deleteErr">
                                                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
                                            </div>
                                            <div v-else>
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal" :disabled="disableRemoveModalButtons">Cancel</button>
                                                <button class="btn btn-danger ml-2" type="button" @click="removeCourse()" :disabled="disableRemoveModalButtons">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete Confirm Modal - ENDS -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script>
         Vue.createApp({
        data() {
            return { // hardcoded create data
                roleId:"",
                selectedCourseId: "",
                selectedSkillId: "",
                selectedCourseStatus: "",
                num_of_skill: 0,
                skillAndCourses: [],
                existSkillAndCourses: [],
                availableSkills: [],
                availableCourses: [],
                journey_name:"",
                skills:[],
                skillId: "",
                staffId: "",
                removeModalText: "Select 'Confirm' below if you are sure to remove the course.",
                disableRemoveModalButtons: false,
                deleteErr: false,
                message: "There is a problem retrieving journey data, please try again later.",
                errorMsg: false,
                loading: true,
                journeyId: "",
                toastCount: 0,
                dropdownSelectedSkill: [],
                prevUrl:""
            }
        },
        created() { // created is a hook that executes as soon as Vue instance is created
            this.staffId = getCookie('staff_id');
            
            // check credentials (check for staff)
            if (getCookie('user_type') != null) {

                let user_type = getCookie('user_type');

                if (user_type != "staff") {

                    // check switch_to_staff_acct
                    let switch_to_staff_acct = getCookie('switch_to_staff_acct')

                    if (switch_to_staff_acct == "N") {

                        location.href = './HRviewAllRoles.html';
                    }
                }
            }

            this.getJourneyId();
            
            this.skillAndCourses.push({
                skill: "",
                courses: []
            });

            this.refreshSelectDropDown();
            $('[data-toggle="tooltip"]').tooltip();  
        },
        methods: {
            getJourneyId(){
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    this.journeyId = urlParams.get("learning_journey_id");

                    this.prevUrl = "editLearningJourney.html?learning_journey_id=" + this.journeyId;
                    
                    const response =
                    fetch("http://localhost:5000/all_journey_info/"+ this.journeyId)
                        .then(response => response.json())
                        .then(data => {
                            if (data.code === 404) {
                                // no skill in db
                                this.message = data.message;
                                this.loading = false;
                                this.errorMsg = true;
                            } else {
                                this.skills = data.data.skills;
                                this.journey_name = data.data.journey_name;
                                this.roleId = data.data.role.role_id;
                                this.loading = false;
                                this.errorMsg = false;
                                this.num_of_skill = data.data.skills.length;
                                
                                for (let i = 0; i < data.data.skills.length; i++) {
                                    exist_course_ids = [];
                                    for (let j = 0; j < data.data.skills[i].skill_courses.length; j++) {
                                        exist_course_ids.push(data.data.skills[i].skill_courses[j].course_id);
                                    }
                                    this.existSkillAndCourses.push({
                                        skill_id: data.data.skills[i].skill_id,
                                        course_ids: exist_course_ids
                                    });
                                }
                            }
                            this.getSkillsBasedOnRoleSelected(this.roleId);
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            this.loading = false;
                            this.errorMsg = error;
                            console.log(this.message + error);
                        });
                        
            },
            getSkillsBasedOnRoleSelected(role_id) {
                $(async () => {
                    // Change serviceURL to your own
                    var serviceURL = "http://localhost:5000/active_skills_by_role/" + role_id;
                    try {
                        const response =
                            await fetch(
                                serviceURL, { method: 'GET' }
                            );
                        const result = await response.json();
                        if (result.code === 200) {
                            // success case
                            this.availableSkills = result.data.active_skills;
                            this.refreshSelectDropDown();
                        } else if (result.code == 404) {
                            // No Such Roles Found
                            //this.skillLoading = false
                            //this.skillErr = true
                            //this.skillErrMsg = result.message;
                        } else {
                            // unexpected outcome, throw the error
                            //this.skillLoading = false
                            //this.skillErr = true
                            //throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        //this.skillLoading = false
                        //this.skillErr = true
                        //this.skillErrMsg = 'There is a problem retrieving skill data, please try again later.<br />' + error;
                    } // error
                });
            },
            getCoursesBasedOnSkillSelected(index) {
                $(async () => {
                    // Change serviceURL to your own
                    var serviceURL = "http://localhost:5000/courses_by_skill/" + this.skillId;
                    try {
                        const response =
                            await fetch(
                                serviceURL, { method: 'GET' }
                            );
                        const result = await response.json();
                        if (result.code === 200) {
                            // success case
                            this.availableCourses[index] = result.data.courses;
                            this.refreshSelectDropDown();
                        } else if (result.code == 404) {
                            // No Such Roles Found
                            this
                            //this.skillLoading = false
                            //this.skillErr = true
                            //this.skillErrMsg = result.message;
                        } else {
                            // unexpected outcome, throw the error
                            //this.skillLoading = false
                            //this.skillErr = true
                            //throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        //this.skillLoading = false
                        //this.skillErr = true
                        //this.skillErrMsg = 'There is a problem retrieving skill data, please try again later.<br />' + error;
                    } // error
                });
            },
            addSkill() {
                //initialise course
                this.skillAndCourses.push({
                    skill_id: "",
                    course_ids: []
                });
                this.refreshSelectDropDown();
            },
            removeSkill(index) {
                this.skillAndCourses.splice(index, 1);
                console.log("JSON: ", JSON.stringify(this.skillAndCourses));
                this.refreshSelectDropDown();
            },
            changeSkill(index, skillId) {
                // populate courses frm db
                // unhide courses

                this.dropdownSelectedSkill[index] = skillId;
                this.availableCourses[index] = [];
                this.skillId = skillId;
                this.skillAndCourses[index].course_ids = [""];
                $("#courses"+index).prop('disabled', false);
                
                this.getCoursesBasedOnSkillSelected(index);
                this.refreshSelectDropDown();
            },
            checkCourseDisabled(index) {

                let availableCoursesLength = this.availableCourses[index].length;
                let selectedCoursesLength = this.skillAndCourses[index].course_ids.length;

                
                if (availableCoursesLength == selectedCoursesLength) {
                    $("#courses" + index).prop('disabled', true);
                    this.refreshSelectDropDown();
                }
            },
            refreshSelectDropDown() {
                setTimeout(() => {
                    jQuery('.selectpicker').selectpicker('refresh');
                    $('[data-toggle="tooltip"]').tooltip();  
                }, 100);
            },
            addANewCourse(){
                $(async () => {
                    // Change serviceURL to your own
                    var serviceURL = "http://localhost:5000/update_journey_info";

                    var dup_skillAndCourses = this.skillAndCourses;

                    for (let i = 0; i < this.existSkillAndCourses.length; i++) {
                        dup_skillAndCourses.push({
                            skill_id: this.existSkillAndCourses[i].skill_id,
                            course_ids: this.existSkillAndCourses[i].course_ids
                        });
                    }
                    
                    try {
                        const response =
                            await fetch(
                                serviceURL,
                                {
                                    method: 'POST',
                                    headers: {
                                        'Accept': 'application/json', 'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        
                                        journey_id: this.journeyId,
                                        journey_name: this.journey_name,
                                        skills: dup_skillAndCourses 
                                    })
                                }
                            );
                        const result = await response.json();
                        // toastr configuration
                        toastr.options = {
                                "closeButton": true,
                                "newestOnTop": false,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                        if (result.code === 201) {
                            // success case
                            // this.loading = false
                            // this.err = false

                            if (this.toastCount == 0) {
                            //     // success 
                                toastr.success("Learning Journey created successfully");
                                this.toastCount += 1;
                            } 
                            var url = './editLearningJourneyForm.html?learning_journey_id=' + this.journeyId;
                            setInterval(function doThisAfterEightSeconds() {
                                location.href = url;
                            }, 800);
                        } else if (result.code == 500) {
                            // this.loading = false
                            // this.err = true
                            // this.errMsg = result.message;
                            toastr.error("An error has occurred. Please try again");
                        } else {
                            // unexpected outcome, throw the error
                            // this.loading = false
                            // this.err = true
                            toastr.error("An error has occurred. Please try again");
                            throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        // this.loading = false
                        // this.err = true
                        // this.errMsg = 'There is a problem creating new learning journey, please try again later.<br />' + error;
                    } // error
                });
            },
            passData(course_completion_status, skill_id, course_id) {
                this.selectedCourseStatus = course_completion_status;
                this.selectedSkillId = skill_id;
                this.selectedCourseId = course_id;
            },
            removeCourse() {
                let course_completion_status = this.selectedCourseStatus;
                let course_id = this.selectedCourseId;
                let skill_id = this.selectedSkillId;

                    if (this.num_of_skill == 1 && this.skills[0].skill_courses.length == 1) {

                        toastr.error("Course cannot be removed. Each learning journey must have at least one course.");
                        
                    } else {
                        // alert("Completed course can't be removed.");
                        // toastr.error("Course cannot be removed. Each learning journey must have at least one course.");
                        // element.setAttribute("hidden", "hidden");

                        this.disableRemoveModalButtons = true;
                        this.removeModalText = "Processing your delete request... Please Wait"
                        $(async () => {
                            // Change serviceURL to your own
                            var serviceURL = "http://localhost:5000/remove_journey_skill_course/" + this.journeyId + "/" + skill_id + "/" + course_id;
                            try {
                                const response =
                                    await fetch(
                                        serviceURL,
                                        {
                                            method: 'GET',
                                            headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' }
                                        }
                                    );
                                const result = await response.json();
                                // toastr configuration
                                toastr.options = {
                                        "closeButton": true,
                                        "newestOnTop": false,
                                        "progressBar": true,
                                        "positionClass": "toast-bottom-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "300",
                                        "hideDuration": "1000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    }
                                if (result.code === 202) {
                                    // success case
                                    if (this.toastCount == 0) {
                                    // success 
                                    // console.log("created successfully")
                                    toastr.success("Removed course successfully");
                                    this.toastCount += 1;
                                    }
                                    // location.href = './editLearningJourneyForm.html?learning_journey_id=' + this.journeyId;

                                    // setInterval(function doThisAfterFourSeconds() {
                                    //     location.href = './editLearningJourneyForm.html?learning_journey_id=' + this.journeyId;
                                    // }, 400);
                                    var url = './editLearningJourneyForm.html?learning_journey_id=' + this.journeyId;
                                    setInterval(function doThisAfterEightSeconds() {
                                        location.href = url;
                                    }, 800);

                                } else if (result.code == 404) {
                                    // No records
                                    this.deleteErr = true;
                                    this.removeModalText = result.message;
                                    toastr.error("An error has occurred. Please try again");
                                } else {
                                    // unexpected outcome, throw the error
                                    this.deleteErr = true;
                                    toastr.error("An error has occurred. Please try again");
                                    throw response.status;
                                }
                            } catch (error) {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                this.deleteErr = true;
                                this.removeModalText = 'There is a problem deleting the record, please try again later.<br />' + error;
                                // toastr.error("An error has occurred. Please try again");
                            } // error
                        });
                    }
                // }
            }
        },
        computed: {
        }
    }).mount('#page-top');
    
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return null;
    }
    </script>
</body>

</html>