<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
    </script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">View Learning Journey 1: {{journey_name}}</h1>                    
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light">
                            <li class="breadcrumb-item"><a href="index.html">Learning Journey</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{journey_name}}</li>
                        </ol>
                    </nav>
                    <div class="card">
                        <div class="card-body">
                            <a type="button" class="btn btn-danger float-right mb-3" data-toggle="modal" data-target="#deleteModal">Delete Learning Journey</a>
                            <a type="button" class="btn btn-primary float-right mb-3 mr-2" @click="goToUpdateLJ()">Update courses</a>
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Skill</th>
                                        <th scope="col">Skill Status</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Course Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-if="loading">
                                    <tr>
                                        <td colspan="4">
                                            <!--Spinner-->
                                            <div class="d-flex justify-content-center mt-2">
                                                <div class="spinner-border" role="status">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center mt-2">
                                                <strong>Please wait while we are fetching the records...</strong>
                                            </div>
                                            <!--//Spinner-->  
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody v-if="errorMsg">
                                    <tr>
                                        <td colspan="4" style="color:red;">{{this.message}}</td>
                                    </tr>
                                </tbody>
                                <tbody v-if="!errrorMsg && !loading" v-for="skill in skills">
                                    
                                    <tr v-for="(course,index) in skill.skill_courses">
                                        <td>
                                            {{skill.skill_name}}
                                        </td>
                                        <td>
                                            {{skill.skill_status}}
                                        </td>
                                        <td>
                                            {{course.course_name}} 
                                        </td>
                                        <td>
                                            {{course.course_completion_status}}
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- <tbody>
                                    <tr>
                                        <td rowspan="2" class="align-middle">Skill 1</td>
                                        <td rowspan="2" class="align-middle">Completed</td>
                                        <td>Course 1</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Course 2</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" class="align-middle">Skill 2</td>
                                        <td rowspan="2" class="align-middle">Completed</td>
                                        <td>Course 1</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Course 2</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" class="align-middle">Skill 3</td>
                                        <td rowspan="2" class="align-middle">In progress</td>
                                        <td>Course 1</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Course 2</td>
                                        <td>In progress （50%）</td>
                                        <td>
                                            <button type="button" class="btn btn-primary">Remove</button>
                                        </td>
                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
                <!-- Delete Confirm Modal - STARTS -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Comfirm Delete?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" v-text="removeModalText"></div>
                            <div class="modal-footer">
                                <div v-if="deleteErr">
                                    <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
                                </div>
                                <div v-else>
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal" :disabled="disableRemoveModalButtons">Cancel</button>
                                    <button class="btn btn-danger ml-2" type="button" @click="removeJourney()" :disabled="disableRemoveModalButtons">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete Confirm Modal - ENDS -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>



    <script>
        const app = Vue.createApp({
            data() {
                return {
                    // journeyId: "",
                    removeModalText: "Select 'Confirm' below if you are sure to remove the learning journey",
                    // disableRemoveModalButtons: false,
                    // deleteErr: false
                    journey_name:"",
                    skills:[],
                    message: "There is a problem retrieving journey data, please try again later.",
                    errorMsg: false,
                    loading: true,
                    journeyId: ""
                }
            },
            created() {
                // check credentials (check for staff)
                if (getCookie('user_type') != null) {

                    let user_type = getCookie('user_type');

                    if (user_type != "staff") {

                        // check switch_to_staff_acct
                        let switch_to_staff_acct = getCookie('switch_to_staff_acct')

                        if (switch_to_staff_acct == "N") {

                            location.href = './frontend/HRviewAllRoles.html';
                        }
                    }
                }
                this.getJourneyId();
            },
            methods: {
                getJourneyId(){
                    // let params = (new URL(document.location)).searchParams;
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    const learningJourneyId = urlParams.get('learning_journey_id')
                    this.journeyId = urlParams.get("learning_journey_id");

                    const response =
                    fetch("http://localhost:5000/all_journey_info/"+learningJourneyId)
                        .then(response => response.json())
                        .then(data => {
                            // console.log(data);
                            if (data.code === 404) {
                                // no skill in db
                                this.message = data.message;
                                this.loading = false;
                                this.errorMsg = true;
                            } else {
                                this.skills = data.data.skills;
                                this.journey_name = data.data.journey_name;
                                this.loading = false;
                                this.errorMsg = false;
                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            this.loading = false;
                            this.errorMsg = error;
                            console.log(this.message + error);

                        });
                },
                removeJourney(){
                    this.disableRemoveModalButtons = true;
                    this.removeModalText = "Processing your delete request... Please Wait"
                    $(async () => {
                        // Change serviceURL to your own
                        var serviceURL = "http://localhost:5000/journey_remove/" + this.journeyId;
                        try {
                            const response =
                                await fetch(
                                    serviceURL, 
                                    { 
                                        method: 'GET',
                                        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'} 
                                    }
                                );
                            const result = await response.json();
                            if (result.code === 202) {
                                // success case
                                location.replace("./learningJourney.html");
                                
                            } else if (result.code == 404) {
                                // No records
                                this.deleteErr = true;
                                this.removeModalText = result.message;
                            } else {
                                // unexpected outcome, throw the error
                                this.deleteErr = true;
                                throw response.status;
                            }
                        } catch (error) {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            this.deleteErr = true;
                            this.removeModalText = 'There is a problem deleting the record, please try again later.<br />' + error;
                        } // error
                    });
                },
                goToUpdateLJ() {
                    location.href = './editLearningJourneyForm.html?learning_journey_id=' + this.journeyId;
                }
            }
        });
        const vm = app.mount("#wrapper");

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return null;
        }
    </script>
</body>

</html>