<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <!--Toastr-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
        $('select').selectpicker();

    </script>
    <style>
        @media only screen and (min-width: 1084px) {
            .bootstrap-select {
                width: 800px !important;
            }
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid" id="record">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Role</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light">
                            <li class="breadcrumb-item"><a href="HRviewAllRoles.html">Roles</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit Role Information</li>
                        </ol>
                    </nav>

                    <!-- ALERT - START-->
                    <div id="alertBoxDiv">
                    </div>

                    <!-- ALERT - ENDS-->

                    <div class="card">
                        <div class="card-body" v-if="loading || err">
                            <div v-if="loading">
                            <!--Spinner-->
                                <div class="d-flex justify-content-center mt-2">
                                    <div class="spinner-border" role="status"></div>
                                </div>
                                <div class="d-flex justify-content-center mt-2">
                                    <strong>Please wait while we are fetching the records...</strong>
                                </div>
                            <!--//Spinner-->  
                            </div>
                            <div v-else>
                                <p style="color: red;">{{this.errMsg}}</p>
                            </div>
                            
                        </div>
                        <div class="card-body" v-else>
                            
                            <h4 class="pb-3"><b>{{this.roleDetails.role.role_id}}</b>: {{this.roleDetails.role.role_name}}</h4>

                            <div class="form-group">
                                <label for="name">Role Name</label><br/>
                                <input type="text"v-model="roleName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="skillsrequired">Skills Required</label>
                                <br>
                                <select class="selectpicker" id="skillsrequired" multiple data-live-search="true">
                                    <option value="" disabled></option>
                                    <option v-for="skill in roleDetails.skills" :value="skill.skill_id" :selected="skill.skill_in_role">{{skill.skill_name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="role">Status</label>
                                <br>
                                <select class="selectpicker" id="status" v-model="roleStatus" data-live-search="true">
                                    <option value="" selected disabled></option>
                                    <option value="Active" >Active</option>
                                    <option value="Retired">Retired</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" @click="getSelectedSkills" >Save</button>
                            
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!--GET ROLE RECORD - STARTS-->
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    roleId: "",
                    roleDetails: [],
                    roleName: "",
                    roleStatus: "",
                    loading: true,
                    err: false,
                    errMsg: "",
                    selected_skills: [],

                    updateLoad: false,
                    updateErr: false,
                    updateErrMsg: "",
                    toastCount: 0
                }
            },
            methods: {
                getRoleId(){
                    let params = (new URL(document.location)).searchParams;
                    this.roleId = params.get("role_id");
                },
                getRoleDetails() {
                    $(async () => {
                        // Change serviceURL to your own
                        var serviceURL = "http://localhost:5000/active_skills_whether_in_role/" + this.roleId;
                        try {
                            const response =
                                await fetch(
                                    serviceURL, 
                                    { 
                                        method: 'GET',
                                        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'} 
                                    }
                                );
                            const result = await response.json();
                            if (result.code === 200) {
                                // success case
                                this.loading = false;
                                this.roleDetails = result.data;
                                this.roleName = result.data.role.role_name;
                                this.roleStatus = result.data.role.role_status;
                                this.err = false;
                                this.refreshSelectDropDown();
                                
                            } else if (result.code == 404) {
                                // No records
                                this.loading = false;
                                this.err = true;
                                this.errMsg = result.message;
                            } else {
                                // unexpected outcome, throw the error
                                this.loading = false;
                                this.err = true;
                                throw response.status;
                            }
                        } catch (error) {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            this.loading = false;
                            this.err = true;
                            this.errMsg = 'There is a problem retrieving the records, please try again later.<br />' + error;
                        } // error
                        });
                },
                updateRoleDetails() {
                    $(async () => {
                        // Change serviceURL to your own
                        var serviceURL = "http://localhost:5000/role_info/update";
                        this.updateLoad = true;
                        try {
                            const response =
                                await fetch(
                                    serviceURL,
                                    {
                                        method: 'POST',
                                        headers: {
                                            'Accept': 'application/json', 'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            role_id: this.roleId,
                                            role_name: this.roleName,
                                            role_status: this.roleStatus,
                                            skill_ids: this.selected_skills
                                        })
                                    }
                                );
                                const result = await response.json();
                                // toastr configuration
                                toastr.options = {
                                    "closeButton": true,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }

                                if (result.code === 201) {
                                    if (this.toastCount == 0) {
                                        // success case
                                        // this.updateLoad = false;
                                        // this.updateErr = false;
                                        // this.showAlertBox("success");
                                        toastr.success("Updated successfully");
                                        this.toastCount += 1;
                                    }
                                    // success case
                                    this.updateLoad = false;
                                    this.updateErr = false;
                                    setInterval(function doThisAfterEightSeconds() {
                                        location.href = './HRviewAllCourses.html';
                                    }, 800);

                                } else if (result.code == 500) {
                                    this.updateErr = true;
                                    this.updateLoad = false;
                                    // this.updateMsg = result.message;
                                    // this.showAlertBox("failed");
                                    toastr.error("An error has occurred. Please try again");
                                } else {
                                    // unexpected outcome, throw the error
                                    this.updateErr = true;
                                    this.updateLoad = false;
                                    // this.showAlertBox("failed");
                                    throw response.status;
                                }
                            } catch (error) {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                this.updateLoad = false;
                                this.updateErr = true;
                                // this.showAlertBox("failed");
                                // this.updateErrMsg = 'There is a problem updating records, please try again later.<br />' + error;
                                toastr.error("An error has occurred. Please try again");
                            } // error
                        });
                },
                refreshSelectDropDown() {
                    setTimeout(() => {
                        jQuery('.selectpicker').selectpicker('refresh');
                        $('[data-toggle="tooltip"]').tooltip();  
                    }, 100);
                },
                getSelectedSkills(){
                    for (var option of document.getElementById('skillsrequired').options)
                    {
                        if (option.selected) {
                            this.selected_skills.push(option.value);
                        }
                    }

                    this.updateRoleDetails();
                },
                showAlertBox(messageType){
                    var div = document.getElementById("alertBoxDiv");
                    if (messageType == "success"){
                        div.innerHTML = `<div class="alert alert-success" v-show="showAlert" id="alertDiv" role="alert">
                                            <button onclick="document.getElementById('alertDiv').style.opacity = '0'" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Success!</strong> Role Information Updated!
                                        </div>`;
                    }else{
                        div.innerHTML = `<div class="alert alert-danger" v-show="showAlert" id="alertDiv" role="alert">
                                            <button onclick="document.getElementById('alertDiv').style.opacity = '0'" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Failed!</strong> Error in updating role information, try again later!
                                        </div>`;                        
                    }
                    
                    this.delayedAlert();
                    setInterval(function doThisAfterEightSeconds() {
                                        location.href = './HRViewAllRoles.html';
                                    }, 800);
                },
                delayedAlert() {
                    window.setTimeout(function() {
                        $(".alert").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove(); ;
                        });
                    }, 2000);
                }
            }, 
            created(){

                // check credentials (check for staff)
                if (getCookie('user_type') != null) {

                    let user_type = getCookie('user_type');

                    if (user_type == "staff") {
                        location.href = './index.html';
                    }
                    if (user_type == "hr") {

                        // check switch_to_staff_acct
                        let switch_to_staff_acct = getCookie('switch_to_staff_acct')

                        if (switch_to_staff_acct == "Y") {

                            location.href = './index.html';
                        }
                    }
                }
                this.getRoleId();
                this.getRoleDetails();
                this.refreshSelectDropDown();
            }
        });

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return null;
        }
        
        const vm = app.mount("#record");
        
    </script>
    <!--GET ROLE RECORD - ENDS-->

</body>

</html>