<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid" id="record">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Courses</h1>              
                    <!--Card for Active Course - STARTS-->
                    <div class="card">
                        <div class="card-body">
                            <h4>Active</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-2">ID</th>
                                            <th scope="col" class="col-3">Name</th>
                                            <th scope="col" class="col-5">Skills Required</th>
                                            <th scope="col" class="col-2"></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody v-if="activeLoading">
                                        <tr>
                                            <td colspan="4">
                                                <!--Spinner-->
                                                <div class="d-flex justify-content-center mt-2">
                                                    <div class="spinner-border" role="status">
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center mt-2">
                                                    <strong>Please wait while we are fetching the records...</strong>
                                                </div>
                                                <!--//Spinner-->  
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tbody v-if="activeErr">
                                        <tr>
                                            <td colspan="4" style="color:red;">{{this.activeErrMsg}}</td>
                                        </tr>
                                    </tbody>

                                    <tbody v-if="!activeErr && !activeLoading">
                                        <tr v-for="(course, index) in activeCourseDetails">
                                            <th scope="row">{{course.course_id}}</th>
                                            <td>{{course.course_name}}</td>
                                            <td>{{course.course_skills.map((list) => list.skill_name).join(", ")}}</td>
                                            <td>
                                                <a :id="course.course_id" type="button" class="btn btn-primary" href="#" @click="changeHref(course.course_id)">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Card for Active Course - Ends-->

                    <!--Card for Pending Course-->
                    <div class="card my-4">
                        <div class="card-body">
                            <h4>Pending</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-2">ID</th>
                                            <th scope="col" class="col-3">Name</th>
                                            <th scope="col" class="col-5">Skills Required</th>
                                            <th scope="col" class="col-2"></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody v-if="pendingLoading">
                                        <tr>
                                            <td colspan="4">
                                                <!--Spinner-->
                                                <div class="d-flex justify-content-center mt-2">
                                                    <div class="spinner-border" role="status">
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center mt-2">
                                                    <strong>Please wait while we are fetching the records...</strong>
                                                </div>
                                                <!--//Spinner-->  
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tbody v-if="pendingErr">
                                        <tr>
                                            <td colspan="4" style="color:red;">{{this.pendingErrMsg}}</td>
                                        </tr>
                                    </tbody>

                                    <tbody v-if="!pendingErr && !pendingLoading">
                                        <tr v-for="(course, index) in pendingCourseDetails">
                                            <th scope="row">{{course.course_id}}</th>
                                            <td>{{course.course_name}}</td>
                                            <td>{{course.course_skills.map((list) => list.skill_name).join(", ")}}</td>
                                            <td>
                                                <a :id="course.course_id" type="button" class="btn btn-primary" href="#" @click="changeHref(course.course_id)">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End of Card for Pending Course-->

                    <!--Card for Retired Course-->
                    <div class="card my-4">
                        <div class="card-body">
                            <h4>Retired</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-2">ID</th>
                                            <th scope="col" class="col-3">Name</th>
                                            <th scope="col" class="col-5">Skills Required</th>
                                            <th scope="col" class="col-2"></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody v-if="retiredLoading">
                                        <tr>
                                            <td colspan="4">
                                                <!--Spinner-->
                                                <div class="d-flex justify-content-center mt-2">
                                                    <div class="spinner-border" role="status">
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center mt-2">
                                                    <strong>Please wait while we are fetching the records...</strong>
                                                </div>
                                                <!--//Spinner-->  
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tbody v-if="retiredErr">
                                        <tr>
                                            <td colspan="4" style="color:red;">{{this.retiredErrMsg}}</td>
                                        </tr>
                                    </tbody>

                                    <tbody v-if="!retiredErr && !retiredLoading">
                                        <tr v-for="(course, index) in retiredCourseDetails">
                                            <th scope="row">{{course.course_id}}</th>
                                            <td>{{course.course_name}}</td>
                                            <td>{{course.course_skills.map((list) => list.skill_name).join(", ")}}</td>
                                            <td>
                                                <a :id="course.course_id" type="button" class="btn btn-primary" href="#" @click="changeHref(course.course_id)">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End of Card for Retired Course-->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!--GET COURSE SKILL RECORD - STARTS-->
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    activeCourseDetails: [],
                    activeErrMsg: "",
                    activeErr: false,
                    activeLoading: true,

                    pendingCourseDetails: [],
                    pendingErrMsg: "",
                    pendingErr: false,
                    pendingLoading: true,

                    retiredCourseDetails: [],
                    retiredErrMsg: "",
                    retiredErr: false,
                    retiredLoading: true
                }
            },
            methods: {
                getActiveCourseDetails() {
                    $(async () => {
                        // Change serviceURL to your own
                        var serviceURL = "http://localhost:5000/courses_skills_by_course_status/active";
                        try {
                            const response =
                                await fetch(
                                    serviceURL, 
                                    { 
                                        method: 'GET',
                                        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'} 
                                    }
                                );
                            const result = await response.json();
                            if (result.code === 200) {
                                // success case
                                this.activeLoading = false
                                this.activeErr = false
                                this.activeCourseDetails = result.data.courses;
                                
                            } else if (result.code == 404) {
                                // No records
                                this.activeLoading = false
                                this.activeErr = true
                                this.activeErrMsg = result.message;
                            } else {
                                // unexpected outcome, throw the error
                                this.activeLoading = false
                                this.activeErr = true
                                throw response.status;
                            }
                        } catch (error) {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            this.activeLoading = false
                            this.activeErr = true
                            this.activeErrMsg = 'There is a problem retrieving active course record, please try again later.<br />' + error;
                        } // error
                        });
                },
                getRetiredCourseDetails() {
                    $(async () => {
                        // Change serviceURL to your own
                        var serviceURL = "http://localhost:5000/courses_skills_by_course_status/retired";
                        try {
                            const response =
                                await fetch(
                                    serviceURL, 
                                    { 
                                        method: 'GET',
                                        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'} 
                                    }
                                );
                            const result = await response.json();
                            if (result.code === 200) {
                                // success case
                                this.retiredLoading = false
                                this.retiredErr = false
                                this.retiredCourseDetails = result.data.courses;
                                
                            } else if (result.code == 404) {
                                // No records
                                this.retiredLoading = false
                                this.retiredErr = true
                                this.retiredErrMsg = result.message;
                            } else {
                                // unexpected outcome, throw the error
                                this.retiredLoading = false
                                this.retiredErr = true
                                throw response.status;
                            }
                        } catch (error) {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            this.retiredLoading = false
                            this.retiredErr = true
                            this.retiredErrMsg = 'There is a problem retrieving retired course record, please try again later.<br />' + error;
                        } // error
                    });
                },
                getPendingCourseDetails() {
                    $(async () => {
                        // Change serviceURL to your own
                        var serviceURL = "http://localhost:5000/courses_skills_by_course_status/pending";
                        try {
                            const response =
                                await fetch(
                                    serviceURL, 
                                    { 
                                        method: 'GET',
                                        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'} 
                                    }
                                );
                            const result = await response.json();
                            if (result.code === 200) {
                                // success case
                                this.pendingLoading = false
                                this.pendingErr = false
                                this.pendingCourseDetails = result.data.courses;
                                
                            } else if (result.code == 404) {
                                // No records
                                this.pendingLoading = false
                                this.pendingErr = true
                                this.pendingErrMsg = result.message;
                            } else {
                                // unexpected outcome, throw the error
                                this.pendingLoading = false
                                this.pendingErr = true
                                throw response.status;
                            }
                        } catch (error) {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            this.pendingLoading = false
                            this.pendingErr = true
                            this.pendingErrMsg = 'There is a problem retrieving pending course record, please try again later.<br />' + error;
                        } // error
                    });
                },
                changeHref(courseId){
                    document.getElementById(courseId).setAttribute("href", "HReditCourseSkill.html?course_id=" + courseId)
                }
            }, 
            created(){

                // check credentials (check for staff)
                if (getCookie('user_type') != null) {

                    let user_type = getCookie('user_type');

                    if (user_type == "staff") {
                        location.href = './index.html';
                    }
                    if (user_type == "hr") {

                        // check switch_to_staff_acct
                        let switch_to_staff_acct = getCookie('switch_to_staff_acct')

                        if (switch_to_staff_acct == "Y") {

                            location.href = './index.html';
                        }
                    }
                }

                this.getActiveCourseDetails();
                this.getPendingCourseDetails();
                this.getRetiredCourseDetails();
            }
        });

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return null;
        }
        
        const vm = app.mount("#record");
        
    </script>
    <!--GET COURSE SKILL RECORD - ENDS-->
</body>

</html>