<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Roles</h1>
                    <div class="card">
                        <div class="card-body">
                            <a type="button" class="btn btn-primary float-right mb-3" href="HRaddRole.html">Add <i class="fas fa-fw fa-plus-circle" style="color: #fff !important;"></i></a>
                            
                            <!-- <div v-if="Active_roles.length > 0"> -->
                                <div>
                                    <b>Active Roles</b>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col-1">ID</th>
                                                <th scope="col" class="col-2">Name</th>
                                                <th scope="col" class="col-5">Skills Required</th>
                                                <th scope="col" class="col-2">Status</th>
                                                <th scope="col" class="col-3">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="role in Active_roles">
                                                <th>{{ role.role_id }}</th>
                                                <td>{{ role.role_name }}</td>
                                                <td>{{ role.skills_str }}</td>
                                                <td>{{ role.role_status }}</td>
                                                <td>
                                                    <a type="button" class="btn btn-primary" @click="goToEditRole(role.role_id)">Edit</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            <!-- </div> -->

                            <!-- <div v-if="Inactive_roles.length > 0"> -->
                                <div>
                                    <b>Inactive Roles</b>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col-1">ID</th>
                                                <th scope="col" class="col-2">Name</th>
                                                <th scope="col" class="col-5">Skills Required</th>
                                                <th scope="col" class="col-2">Status</th>
                                                <th scope="col" class="col-3">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="role in Inactive_roles" >
                                                <th>{{ role.role_id  }}</th>
                                                <td>{{ role.role_name }}</td>
                                                <td>{{ role.skills_str }}</td>
                                                <td>Retired</td>
                                                <td>
                                                    <a type="button" class="btn btn-primary" @click="goToEditRole(role.role_id)">Edit</a>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        const get_all_active_roles = "http://localhost:5000/roles_with_skills/Active";
        const get_all_inactive_roles = "http://localhost:5000/roles_with_skills/Inactive";
        const app = Vue.createApp({

        data() {
            return {
                "skills":[],
                "Active_roles": [],
                "Inactive_roles": [],
                message: "There is a problem retrieving roles data, please try again later.",

            }
        },
        methods: {
            getAllActiveRoles() {
                // on Vue instance created, load the active skills
                const response =
                    fetch(get_all_active_roles)
                        .then(response => response.json())
                        .then(data => {
                            if (data.code === 404) {
                                // no skill in db
                                this.message = data.message;
                            } else {
                                this.Active_roles = data.data.roles
                                for (var i = 0; i < this.Active_roles.length; i++){
                                    skills = this.Active_roles[i].role_skills;

                                    skills_str="Unassigned"

                                    if (skills.length != 0) {
                                        skills_str = skills[0].skill_name;

                                        for (var j = 1; j < skills.length; j++) {
                                            skills_str += ", " + skills[j].skill_name
                                        }

                                    }

                                    this.Active_roles[i]["skills_str"] = skills_str;
                                }

                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc

                        });
                    },
             getAllInactiveRoles() {
                // on Vue instance created, load the Inactive role 
                const response =
                    fetch(get_all_inactive_roles)
                        .then(response => response.json())
                        .then(data => {
                            if (data.code === 404) {
                                // no role in db
                                this.message = data.message;
                            } else {
                                this.Inactive_roles = data.data.roles
                                for (var i = 0; i < this.Inactive_roles.length; i++){
                                    skills = this.Inactive_roles[i].role_skills;

                                    skills_str="Unassigned"

                                    if (skills.length != 0) {
                                        skills_str = skills[0].skill_name;

                                        for (var j = 1; j < skills.length; j++) {
                                            skills_str += ", " + skills[j].skill_name
                                        }

                                    }

                                    this.Inactive_roles[i]["skills_str"] = skills_str;
                                }
                                

                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc

                        });
                    },
                goToEditRole(role_id) {
                        location.href = './HReditRole.html?role_id=' + role_id
                },
 
                },
                created() {
                    // check credentials (check for staff)
                    if (getCookie('user_type') != null) {

                        let user_type = getCookie('user_type');

                        if (user_type == "staff") {
                            location.href = './index.html';
                        }
                        if (user_type == "hr") {

                            // check switch_to_staff_acct
                            let switch_to_staff_acct = getCookie('switch_to_staff_acct')

                            if (switch_to_staff_acct == "Y") {

                                location.href = './index.html';
                            }
                        }
                    }
                    // on Vue instance created, load the book list
                    this.getAllActiveRoles();
                    this.getAllInactiveRoles();
                }
                }
                );
                function getCookie(cname) {
                    let name = cname + "=";
                    let decodedCookie = decodeURIComponent(document.cookie);
                    let ca = decodedCookie.split(';');
                    for(let i = 0; i <ca.length; i++) {
                        let c = ca[i];
                        while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                        }
                    }
                    return null;
                }
                const vm = app.mount('#wrapper');

    </script>
    <script>
        !(function (l) {
            "use strict";
            l("#sidebarToggle, #topbar").on("click", function (e) {
                l("body").toggleClass("sidebar-toggled"),
                l(".sidebar").toggleClass("toggled"),
                l(".sidebar").hasClass("toggled") &&
                    l(".sidebar .collapse").collapse("hide");
            }),
                l(window).resize(function () {
                l(window).width() < 768 && l(".sidebar .collapse").collapse("hide"),
                    l(window).width() < 480 &&
                    !l(".sidebar").hasClass("toggled") &&
                    (l("body").addClass("sidebar-toggled"),
                    l(".sidebar").addClass("toggled"),
                    l(".sidebar .collapse").collapse("hide"));
                }),
                l("body.fixed-nav .sidebar").on(
                "mousewheel DOMMouseScroll wheel",
                function (e) {
                    var o;
                    768 < l(window).width() &&
                    ((o = (o = e.originalEvent).wheelDelta || -o.detail),
                    (this.scrollTop += 30 * (o < 0 ? 1 : -1)),
                    e.preventDefault());
                }
                ),
                l(document).on("scroll", function () {
                100 < l(this).scrollTop()
                    ? l(".scroll-to-top").fadeIn()
                    : l(".scroll-to-top").fadeOut();
                }),
                l(document).on("click", "a.scroll-to-top", function (e) {
                var o = l(this);
                l("html, body")
                    .stop()
                    .animate(
                    { scrollTop: l(o.attr("href")).offset().top },
                    1e3,
                    "easeInOutExpo"
                    ),
                    e.preventDefault();
                });
            })(jQuery);
    </script>
</body>

</html>