<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
        $('select').selectpicker();
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Learning Journey</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light">
                            <li class="breadcrumb-item"><a href="learningJourney.html">Learning Journey</a></li>
                            <li class="breadcrumb-item"><a href="viewLearningJourney.html">Learning Journey 1: Role 1</a></li>
                            <li class="breadcrumb-item"><a href="editLearningJourney.html">Edit</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update courses</li>
                        </ol>
                    </nav>
                    <!--View Learning Journey-->
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <p class="h6 font-weight-bold"><i>Learning Journey 1: Role 1</i></p>
                            <br>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Skill</th>
                                        <th scope="col">Skill Status</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Course Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2" class="align-middle">Skill 1</td>
                                        <td rowspan="2" class="align-middle">Completed</td>
                                        <td>Course 1</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Course 2</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" class="align-middle">Skill 2</td>
                                        <td rowspan="2" class="align-middle">Completed</td>
                                        <td>Course 1</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Course 2</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" class="align-middle">Skill 3</td>
                                        <td rowspan="2" class="align-middle">In progress</td>
                                        <td>Course 1</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Course 2</td>
                                        <td>In progress （50%）</td>
                                        <td>
                                            <button type="button" class="btn btn-primary">Remove</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                    <!--//View Learning Journey-->
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                
                                <!--Edit Learning Journey Form-->
                                <div class="form-group" v-for="(item, index) in skillAndCourses" :key="index">
                                    <hr v-if="index!=0">
                                    <div class="form-group">
                                        <a id="add_row" class="btn btn-danger float-right" v-if="skillAndCourses.length>1" @click="removeSkill(index)">Remove</a>
                                        <a id="add_row" class="btn btn-primary float-right mr-2" v-if="index==0" @click="addSkill">Add a Skill/Courses</a>
                                        <label for="skill">Skill</label> &nbsp;
                                        <a href="#" data-toggle="tooltip" title="Skill Description">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                        <br>
                                        <!-- <p>{{ item.skill }}</p> -->
                                        <select v-model="item.skill" @change="changeSkill(index)" class="selectpicker" :name="`skillAndCourses[${index}][skill]`" data-live-search="true">
                                            <option value="" disabled></option>
                                            <option>Skill 1</option>
                                            <option>Skill 2</option>
                                            <option>Skill 3</option>
                                            <option>Skill 4</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="courses">Course</label> &nbsp;
                                        <a href="#" data-toggle="tooltip" title="Course Description">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                        <br>
                                        <select v-model="item.courses" class="selectpicker" :name="`skillAndCourses[${index}][courses]`" :id="`courses${index}`" multiple data-live-search="true" disabled>
                                            <option value="" disabled></option>
                                            <option>Course 1</option>
                                            <option>Course 2</option>
                                            <option>Course 3</option>
                                            <option>Course 4</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mt-1">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        Vue.createApp({
        data() {
            return { // hardcoded create data
                role:"",
                skillAndCourses: [ 
                    // {
                    //     skill: "Skill 1",
                    //     courses: ["Course 2"]
                    // },
                    // {
                    //     skill: "Skill 2",
                    //     courses: ["Course 2"]
                    // }
                ]
            }
        },
        created() { // created is a hook that executes as soon as Vue instance is created
            this.skillAndCourses.push({
                skill: "",
                courses: []
            });
            this.refreshSelectDropDown();
            
            $('[data-toggle="tooltip"]').tooltip();  
        },
        methods: {
            addSkill() {
                this.skillAndCourses.push({
                    skill: "",
                    courses: []
                });
                this.refreshSelectDropDown();
            },
            removeSkill(index) {
                this.skillAndCourses.splice(index, 1);
                console.log("JSON: ", JSON.stringify(this.skillAndCourses));
                this.refreshSelectDropDown();
            },
            // changeRole() {
            //     this.skillAndCourses = [
            //         {
            //             skill: "",
            //             courses: [""]
            //         }
            //     ];
            //     this.refreshSelectDropDown();
            //     $("#courses0").prop('disabled', true);
            // },
            changeSkill(index) {
                // populate courses frm db
                // unhide courses
                $("#courses"+index).prop('disabled', false);
                this.refreshSelectDropDown();
            },
            refreshSelectDropDown() {
                setTimeout(() => {
                    jQuery('.selectpicker').selectpicker('refresh');
                    $('[data-toggle="tooltip"]').tooltip();  
                }, 100);
            }
        },
        computed: {
        }
    }).mount('#page-top');
    
    </script>
</body>

</html>