<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
        $('select').selectpicker();


        // Placeholder Role Information
        var skillname = "Teamwork";
        var skillstatus = "Active";
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid" id="record">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Course Skills</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light">
                            <li class="breadcrumb-item"><a href="HRviewAllCourses.html">Courses</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit course skills</li>
                        </ol>
                    </nav>
                    <div class="card" v-for="course in courseSkill">
                        <div class="card-body">
                            <h4 class="pb-3"><b>{{course.course_id}}</b> {{course.course_name}}</h4>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col-8">Skill</th>
                                            <th scope="col-4"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="skill in course.skill_name">
                                            <td>{{skill}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger">Remove</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="form-control mb-5" list="datalistOptions" v-model="search" id="exampleDataList" placeholder="Search for a skill...">
                                                <datalist id="datalistOptions">
                                                <option v-for="skill in filteredSkills" :value="skill.skill_name">{{skill.skill_name}}</option>
                                                </datalist>
                                            </td>
                                            <td><button type="submit" class="btn btn-primary">Add</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!--GET COURSE SKILL RECORD - STARTS-->
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    skills: [],
                    courseSkill: [
                    {
                        course_id: "COR001", 
                        course_name: "Systems Thinking and Design",
                        course_status: "Active",
                        skill_id: [1, 4],
                        skill_name: ["Teamwork", "Critical thinking"],
                        skill_status: ["Active", "Active"]
                    }
                    ],
                    search: ""
                }
            },
            methods: {
                getPatientRecord() {
                    
                },
                getSkillRecord() {
                    $(async () => {
                            // Change serviceURL to your own
                            var serviceURL = "http://localhost:5000/skills";
                            try {
                                const response =
                                    await fetch(
                                        serviceURL, { method: 'GET' }
                                    );
                                const result = await response.json();
                                if (result.code === 200) {
                                    // success case
                                    //this.searched = true
                                    //this.err = false
                                    this.skills = result.data.skills;
                                    console.log(result.data.skills);
                                } else if (result.code == 404) {
                                    // No Such Patient Found
                                    //this.err = true
                                    //this.searched = false
                                    //this.errMsg = result.message;
                                } else {
                                    // unexpected outcome, throw the error
                                    //throw response.status;
                                }
                            } catch (error) {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                //this.err = true
                                //this.searched = false
                                //this.errMsg = 'There is a problem retrieving patients data, please try again later.<br />' + error;
                            } // error
                        });
                }
            },
            computed:{
                
                filteredSkills (){
                    var alreadyASkillArr = this.courseSkill[0].skill_name;
                    console.log(alreadyASkillArr);
                    if(this.search){
                        return this.skills.filter((item)=>{
                            return (item.skill_name.toLowerCase().startsWith(this.search) && !(alreadyASkillArr.includes(item.skill_name)));
                        })
                    }else{
                        return this.skill;
                    }
                }
            }, 
            created() {
                this.getSkillRecord();
            }
        });
        const vm = app.mount("#record");
    </script>
    <!--GET COURSE SKILL RECORD - ENDS-->

</body>

</html>