<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <!--Toastr-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
        $('select').selectpicker();


        // Placeholder Role Information
        var skillname = "Teamwork";
        var skillstatus = "Active";
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Skills</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light">
                            <li class="breadcrumb-item"><a href="HRviewALlSkills.html">Skills</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit skill</li>
                        </ol>
                    </nav>
                    <div class="card">
                        <div class="card-body">

                            ID #1
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="name">Skill Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter skill name" v-model="skill_name">
                            </div>
                            <div class="form-group">
                                <label for="role">Status</label>
                                <br>
                                <select class="selectpicker" id="status" data-live-search="true" v-model="skill_status">
                                    <option value="" selected disabled></option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" @click="save_skill()">Save</button>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        const app = Vue.createApp({

            data() {
                return {
                    skill_id: 0,
                    skill_name: "",
                    skill_status: "",
                    toastCount: 0
                }
            },
            methods: {
                get_skill(skill_id) {
                    if (skill_id == null) {
                        location.href = './HRviewALlSkills.html';
                    }
                    let url = 'http://localhost:5000/skill/'+this.skill_id;
                    const response =
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            console.log(response);
                            if (data.code === 404) {
                                // no skill in db
                                location.href = './HRviewALlSkills.html';
                            } else {
                                this.skill_name = data.data.skill_name;
                                this.skill_status = data.data.skill_status;
                                console.log(this.skill_name);
                                console.log(this.skill_status);
                                this.refreshSelectDropDown();
                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            console.log(this.message + error);

                        });
                },
                save_skill() {
                    $(async () => {
                            serviceURL = "http://localhost:5000/update_skill_status/"+this.skill_id;
                            try {
                                const response =
                                    await fetch(
                                        serviceURL,
                                        {
                                            method: 'PUT',
                                            headers: {
                                                'Accept': 'application/json', 'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify({
                                                skill_status: this.skill_status
                                            })
                                        }
                                    );
                                const result = await response.json();
                                // toastr configuration
                                toastr.options = {
                                    "closeButton": true,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }

                                if (result.code === 200) {
                                    if (this.toastCount == 0) {
                                        // success 
                                        toastr.success("Updated successfully");
                                        this.toastCount += 1;
                                    } 

                                    setInterval(function doThisAfterFourSeconds() {
                                        location.href = './HRviewALlSkills.html';
                                    }, 400);

                                    
                                } else if (result.code == 500) {
                                    // this.err = true
                                    // this.errMsg = result.message;
                                    toastr.error("An error has occurred. Please try again");
                                } else {
                                    // unexpected outcome, throw the error
                                    toastr.error("An error has occurred. Please try again");
                                    throw response.status;
                                }
                            } catch (error) {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                toastr.error("An error has occurred. Please try again");
                            } // error
                        });
                },
                refreshSelectDropDown() {
                    setTimeout(() => {
                        jQuery('.selectpicker').selectpicker('refresh');
                        $('[data-toggle="tooltip"]').tooltip();  
                    }, 100);
                }
            },
            created() {

                // check credentials (check for staff)
                if (getCookie('user_type') != null) {

                    let user_type = getCookie('user_type');

                    if (user_type == "staff") {
                        location.href = './index.html';
                    }
                    if (user_type == "hr") {

                        // check switch_to_staff_acct
                        let switch_to_staff_acct = getCookie('switch_to_staff_acct')

                        if (switch_to_staff_acct == "Y") {

                            location.href = './index.html';
                        }
                    }
                }
                // on Vue instance created, load the book list
                // Get skill by id
                // Update skill status by skill id
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                this.skill_id = urlParams.get('skill_id');
                console.log("this.skill_id: " + this.skill_id);
                this.get_skill(this.skill_id);
            }
        });

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return null;
        }

        const vm = app.mount('#wrapper');
    </script>

</body>

</html>