<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LJPS</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">

    <script src="vendor/jquery/jquery.min.js"></script>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/styles.css" rel="stylesheet">
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        $(function () {
            $("#sidebar").load("./assets/components/sidebar.html");
            $("#topbar").load("./assets/components/topbar.html");
            $("#footer").load("./assets/components/footer.html");
        });
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">{{journey_name}}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light">
                            <li class="breadcrumb-item"><a href="learningJourney.html">Learning Journey</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{journey_name}}</li>
                        </ol>
                    </nav>
                    <div class="card">
                        <div class="card-body">
                            <a type="button" class="btn btn-primary float-right mb-3 mr-2" href="editLearningJourney.html">Edit Learning Journey</a>
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Skill</th>
                                        <th scope="col">Skill Status</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Course Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-if="loading">
                                    <tr>
                                        <td colspan="4">
                                            <!--Spinner-->
                                            <div class="d-flex justify-content-center mt-2">
                                                <div class="spinner-border" role="status">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center mt-2">
                                                <strong>Please wait while we are fetching the records...</strong>
                                            </div>
                                            <!--//Spinner-->  
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody v-if="errorMsg">
                                    <tr>
                                        <td colspan="4" style="color:red;">{{this.message}}</td>
                                    </tr>
                                </tbody>
                                <tbody v-if="!errrorMsg && !loading" v-for="skill in skills">
                                    
                                    <tr v-for="(course,index) in skill.skill_courses">
                                        <!-- <td rowspan="{{skill.skill_courses.length}}">
                                            {{skill.skill_name}}
                                        </td>
                                        <td rowspan="{{skill.skill_courses.length}}">
                                            {{skill.skill_status}}
                                        </td> -->
                                        <!--not sure if it works-->
                                        <td>
                                            {{skill.skill_name}}
                                        </td>
                                        <td>
                                            {{skill.skill_status}}
                                        </td>
                                        <td>
                                            {{course.course_name}} 
                                        </td>
                                        <td>
                                            {{course.course_status}}
                                        </td>
                                        <!-- <td>{{course}}</td> -->
                                    </tr>
                                    <!-- <tr>
                                        <td rowspan="2" class="align-middle">Skill 1</td>
                                        <td rowspan="2" class="align-middle">Completed</td>
                                        <td>Course 1</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Course 2</td>
                                        <td>Completed</td>
                                        <td></td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script>
    const app = Vue.createApp({

        data() {
            return {
                journey_name:"",
                skills:[],
                message: "There is a problem retrieving journey data, please try again later.",
                errorMsg: false,
                loading: true
            }
        },
        methods: {
            getAllSkills() {
                // on Vue instance created, load the book list
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const learningJourneyId = urlParams.get('learning_journey_id')

                const response =
                    fetch("http://localhost:5000/all_journey_info/"+learningJourneyId) // hardcoding staff-id now
                        .then(response => response.json())
                        .then(data => {
                            // console.log(data);
                            if (data.code === 404) {
                                // no skill in db
                                this.message = data.message;
                                this.loading = false;
                                this.errorMsg = true;
                            } else {
                                this.skills = data.data.skills;
                                this.journey_name = data.data.journey_name;
                                this.loading = false;
                                this.errorMsg = false;
                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            this.loading = false;
                            this.errorMsg = error;
                            console.log(this.message + error);

                        });

                function getCookie(cname) {
                    let name = cname + "=";
                    let decodedCookie = decodeURIComponent(document.cookie);
                    let ca = decodedCookie.split(';');
                    for(let i = 0; i <ca.length; i++) {
                        let c = ca[i];
                        while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                        }
                    }
                    return null;
                }
            }
        },created() {
            // check credentials (check for staff)
            if (getCookie('user_type') != null) {

                let user_type = getCookie('user_type');

                if (user_type != "staff") {

                    // check switch_to_staff_acct
                    let switch_to_staff_acct = getCookie('switch_to_staff_acct')

                    if (switch_to_staff_acct == "N") {

                        location.href = './HRviewAllRoles.html';
                    }
                }
            }
            this.getAllSkills();
        }
    });

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return null;
    }

    const vm = app.mount('#wrapper');
    </script>
</body>

</html>