<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="HRviewAllRoles.html" v-if="(userid=='hr') && (switchToStaffAcct=='N')">
        <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fas fa-briefcase text-red mx-3" style="color:black"></i> -->
            <i class="fas fa-briefcase text-red mx-1"></i>
        </div>
        <div class="sidebar-brand-text mx-3">LJPS</div>
    </a>
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html" v-else>
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-briefcase text-red mx-1"></i>
        </div>
        <div class="sidebar-brand-text mx-3">LJPS</div>
    </a>
    <!-- href="HRviewAllRoles.html" v-if="(userid=='hr') && (switchToStaffAcct=='N')"-->
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <div v-if="(userid=='staff') || ((userid=='hr') && (switchToStaffAcct=='Y'))">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-house"></i>
                <span>Dashboard</span></a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" href="learningJourney.html">
                <i class="fas fa-fw fa-compass"></i>
                <span>Learning Journey</span></a>
        </li>
    </div>
    <div v-if="(userid=='hr') && (switchToStaffAcct=='N')">
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" href="HRviewAllRoles.html">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Role</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="HRviewAllSkills.html">
                <i class="fas fa-fw fa-lightbulb"></i>
                <span>Skills</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="HRviewAllCourses.html">
                <i class="fas fa-fw fa-book"></i>
                <span>Courses</span></a>
        </li>
    </div>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" style="border-color:#E3E6F0;">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" style="background-color: #808080 !important;"></button>
    </div>
    <!--//Staff-->
</ul>
</style>
<!-- Custom scripts for all pages-->
<!-- <script src="js/sb-admin-2.min.js"></script> -->
<script>
    Vue.createApp({
        data() {
            return {
                userid: "staff", 
                switchToStaffAcct: "N"
            }
        },
        created() { // created is a hook that executes as soon as Vue instance is created
            // check if there's session
            
            // check credentials  
            if (getCookie('user_id') == null) {
                // change this to login page next time
            }
            else if (getCookie('user_id') == "staff") {
                this.userid = "staff";
            }
            else if (getCookie('user_id') == "hr") {
                this.userid = "hr";
                this.switchToStaffAcct = getCookie('switch_to_staff_acct');
            }

            // cookie function
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return null;
            }
        },
        methods: {

        },
        computed: {
        }
    }).mount('#accordionSidebar')
</script>